@import "tailwindcss";
@import "tw-animate-css";

:root {
  --color-mauve-fonce: #5E4D8E;
  --color-mauve-clair: #CDB4DB;
  --color-blanc: #FFFFFF;
  --radius: 0.625rem;
}

@theme inline {
  --color-mauve-fonce: #5E4D8E;
  --color-mauve-clair: #CDB4DB;
  --color-blanc: #FFFFFF;
}

@layer base {
  body {
    background-color: var(--color-blanc);
    color: var(--color-mauve-fonce);
  }
}
